/MiWi/Pan Coordinator SAMR30 XPRO WINC3400/Debug
/MiWi/Pan Coordinator SAMR30 XPRO WINC3400/Release
/MiWi/Pan Coordinator SAMR30 XPRO WINC3400/.vs
/MiWi/End Device ALB/Debug
/MiWi/End Device ALB/Release
/MiWi/End Device ALB/.vs
